@import "tailwindcss";


body {
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  color: #0ea5e9;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}